/*
=================================================================================
|	* |THESE ARE MEDIA QUERIES.													|
|	* |THIS MAKES WEB PAGES RESPONSIVE TO SCREEN RESIZING.						|
|	* |N0 NEED TO USE BOOTSTRAP.												|	
|	* |ANYONE CAN CUSTOMIZE THESE QUERIES HERE IT SELF.							|
|	* |USE THESE CLASSES("COL-1") WHEN SRTUCTURING THE WEB PAGES.				|
=================================================================================
*/


* {
    box-sizing: border-box;		
}

[class*="col-"] {		
    float: left;
   /* padding: 30px 50px 20px 50px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/

}

.right {
	float: right;
}



/* |FOR MOBILE PHONES| */
/*
@media only screen and (min-width: 300px) {
	.col-S-1 {width: 100%; padding: 10px 10px 10px 10px ;}
	
	h1 {
		font-family: Vardena; 
		font-size: 20px;
		font-style: bold;
		color: blue; 
		line-height:100%; 
		text-align: left; 
	}

	h2 {font-size: 18px;}

	h3 {font-size: 16px;}

	h4 {font-size: 15px;}

	table {font-size: 14px;}
	
	p {
		font-family: Vardena;
		font-size: 14px; 
		color: black;
		line-height:130%; 
	}
	

	.banner {
		width:100%;
		height: 2%;
	}

	.cl-1{
		height: 200px;
		width: 250px;
	}

	.cl-2 {
		height: 200px;
		width: 250px;
	}

	.cl-3 {
		height: 200px;
		width: 150px;
	}
	
	
}

*/




/* |FOR TABLETS| */
/*
@media only screen and (min-width: 600px) {
	
	.col-m-1 {width: 100%;}
    .col-m-2 {width: 80%;}
    .col-m-3 {width: 75%;}
    .col-m-4 {width: 60%;}
    .col-m-5 {width: 50%;}
    .col-m-6 {width: 45%;}
    .col-m-7 {width: 40%;}
    .col-m-8 {width: 35%;}
    .col-m-9 {width: 25%;}
    .col-m-10 {width: 20%;}
    .col-m-11 {width: 15%;}
    .col-m-12 {width: 10%;}
	.col-m-13 {width: 5%;}
	.col-m-14 {width: 4%;}
	.col-m-15 {width: 2%;}
	
	h1 {
		font-family: Vardena;
		font-size: 22px; 
		color: red; 
		line-height:100%;
		text-align: left;
	}

	h2 {font-size: 20px;}

	h3 {font-size: 18px;}

	h4 {font-size: 16px;}

	table {font-size: 15px;}
	
	p {
		font-family: Vardena; 
		font-size: 15px;
		color: green; 
		line-height:100%;
	}
	
	
	

	
	.banner {
		width: 100%;
		height: 2%; 
	}

	.cl-1{
		height: 250px;
		width: 300px;
	}
	.cl-2 {
		height: 250px;
		width: 400px;
	}

	

	.cl-3 {
		height: 250px;
		width: 200px;
	}
	


}

*/






/* |FOR DESKTOP AND WIDE SCREANS| */
@media only screen and (min-width: 780px) {
	
/* |BACKGROUNDS| */
	.col-b-1 {
		width: 100%;
		padding: 20px 75px 20px 75px;
	    background-color: #f9f9f9;
	}

	 .col-b-2 {
		width: 50%;
		padding: 20px 15px 20px 75px;
	    background-color: #f9f9f9;
	}

	.col-b-2-r {
		width: 50%;
		padding: 20px 75px 20px 15px;
	    background-color: #f9f9f9;
	}

	.col-b-3 {
		width: 100%;
		padding: 0px;
	    background-color: #f9f9f9;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.col-b-4 {
		width: 15%;
		padding: 2px 15px 2px 15px;
		background-color: #f9f9f9;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.col-b-4-r {
		width: 15%;
		padding: 2px 15px 2px 50px;
		background-color: #f9f9f9;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

    .col-b-5 {
    	width: 70%;
   	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   	} 



/* |CONTENTS| */
	.col-c-1 {
		width: 100%;
		padding: 30px 50px 20px 50px;
	    background-color: #f9f9f9;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    text-align: justify;
	}



/* |IMAGES| */
	.logo-1 {
		width: 150px;
		height: 150px;
	}

	.logo-2 {
		width: 100px;
		height: 150px;
	}

	.banner {
		width: 100%;
		height: 155px;
	}



/* |TABLES| */
	.tb-1 {
		width: 100%;
	}





}
/* |END| */


   /* .col-6 {width: 45%;}
    .col-7 {width: 40%;}
    .col-8 {width: 35%;}
    .col-9 {width: 30%;}
    .col-10 {width: 25%;}
    .col-11 {width: 20%;}
    .col-12 {width: 15%;}
    .col-13 {width: 10%;}
	.col-14 {width: 5%;}
	.col-15 {width: 4%;}*/


	

	


	/*h1 {
		font-family: Vardena;
		font-size: 24px;
		color: purple; 
		line-height:100%;
	}**/
	
/*	h2 {font-size: 22px;}

	h3 {font-size: 20px;}

	h4 {font-size: 18px;}

	table {
		font-size: 16px;
		line-height: 120%;
	}
	
	p {
		font-family: Vardena;
		font-size: 16px;
		color: black; 
		line-height:100%;
	}
	
	
	
	
	
	
	
}*/








