/* 
	* This is the basic structure style sheet for VTASL website. 
	* From here we start to style the web site.
	* Here we style the layout of the web page.
	* 
*/

/* This is the overall structure. */
/*.......................................................................................................................*/
.container{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	line-height: 100%;
	background-color: #ffffff;
}

.container_spec{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	border: 0;
	line-height: 100%;
	background-color: #ffffff;
}

/*.......................................................................................................................*/


/* header */
/*.......................................................................................................................*/
.header {
	float: center;
	width: 100%;
	height: 110px;
	/*background-color: #66ccff;*/
}

img.banner{
	float: center;
	
	width: 100%;
	height: 110px;
}
/*.......................................................................................................................*/


/* Content */
/*.......................................................................................................................*/
.content {
	width: 100%;
	height: auto;
	padding: 50px 0px 50px 0px;
	background-color: #ffffff;
}

.content_spec{
	padding: 200px 50px 50px 50px;
}

.par_01, .para_02{
	float: left;
}



.table1{
	text-align: left;
	padding: 10px 10px 10px 50px;
	color: #0000cc;
}

.p1, h1 {
	color: #0000cc;
	text-align: left;
	padding: 10px 50px 10px 50px;
	font-family: Times new romen;
}

input[type=submit] {
	background-color: #006600;
    border: 2px solid #00ff00;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
}

input[type=reset] {
	background-color: #006600;
    border: 2px solid #00ff00;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
}

/*.......................................................................................................................*/


/* Footer */
/*.......................................................................................................................*/

.footer {
	width: 100%;
	height: 400px;
	clear:both;
	padding: 10px 0px 10px 0px;
	background-color: #0000cc;
	border-top: 4px solid #66ccff;
	border-bottom: 4px solid #66ccff;
}
.ft_contact {
	float: left;
	color: #ffffff;
	text-align: left;
	padding: 30px 30px 50px 280px;
}

.ft_courses,.ft_links {
	float: left;
	color: #ffffff;
	text-align: left;
	padding: 30px 30px 50px 30px;
}

.ft_posts{
	float: left;
	color: #ffffff;
	text-align: left;
	padding: 30px 280px 50px 30px;
}
.end{
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-bottom: 4px solid #66ccff;
}


/*.......................................................................................................................*/


/* other styling */
/*.......................................................................................................................*/

.hr1 {
	width: 100%;
	height: 20px;
	background-color: #0000cc;
	border-bottom: 4px solid #66ccff;
}
/*.......................................................................................................................*/


/*.......................................................................................................................*/
/* Event Gallery */
.image {
	background-color: #000066;	
	width: 100%;
	height: 700px;
	text-align:center;
}