/*
=================================================================================
|	* |THESE ARE MEDIA QUERIES.													|
|	* |THIS MAKES WEB PAGES RESPONSIVE TO SCREEN RESIZING.						|
|	* |N0 NEED TO USE BOOTSTRAP.												|	
|	* |ANYONE CAN CUSTOMIZE THESE QUERIES HERE IT SELF.							|
|	* |USE THESE CLASSES("COL-1") WHEN SRTUCTURING THE WEB PAGES.				|
=================================================================================
*/


* {
    box-sizing: border-box;		
}

[class*="col-"] {		
    float: left;
}

.right {
	float: right;
}


/* |FOR DESKTOP AND WIDE SCREANS| */
@media only screen and (min-width: 780px) {
	
/* |BACKGROUNDS| */
	.col-b-1 {
		width: 100%;
		padding: 30px 75px 15px 75px;
	    background-color: #f9f9f9;
	}

	 .col-b-2 {
		width: 50%;
		padding: 20px 15px 15px 75px;
	    background-color: #f9f9f9;
	}

	.col-b-2-r {
		width: 50%;
		padding: 20px 75px 15px 15px;
	    background-color: #f9f9f9;
	}

	.col-b-3 {
		width: 100%;
		padding: 0px;
	    background-color: #f9f9f9;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.col-b-4 {
		width: 12%;
		padding: 2px 25px 2px 25px;
		background-color: #f9f9f9;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.col-b-4-r {
		width: 12%;
		padding: 2px 15px 2px 50px;
		background-color: #f9f9f9;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

    .col-b-5 {
    	width: 76%;
   	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   	} 
	
	.col-b-6{
		width: 100%;
		padding: 5px 0px 5px 0px;
	    background-color: #397df7;
	}
	



/* |CONTENTS| */
	.col-c-1 {
		width: 100%;
		padding: 30px 50px 20px 50px;
	    background-color: #f9f9f9;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    text-align: justify;
	}
	
	.col-c-2 {
		width: 28%;
		height: 320px;
		padding: 30px 50px 20px 100px;
	    background-color: #f9f9f9;
	    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
	    text-align: left;
	}
	
	.col-c-2-r {
		width: 28%;
		height: 320px;
		padding: 30px 100px 20px 50px;
	    background-color: #f9f9f9;
	    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
	    text-align: left;
	}
	
	.col-c-2-c {
		width: 22%;
		height: 320px;
		padding: 30px 50px 20px 50px;
	    background-color: #f9f9f9;
	    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
	    text-align: left;
	}
    
    .col-c-3-1{
        width: 40%;
        background-color: #f9f9f9;
        padding: 5px 0px 10px 50px;
    }
    
    .col-c-3-2{
        width: 60%;
        background-color: #f9f9f9;
    }
    
    .col-c-3{
        width: 100%;
        background-color: #f9f9f9;
        padding: 5px 10px 10px 10px;
    }



/* |IMAGES| */
	.logo-1 {
		width: 100px;
		height: 100px;
	}

	.logo-2 {
		width: 60px;
		height: 100px;
	}

	.banner {
		width: 100%;
		height: 110px;
	}
    
    .pic{
        width: 100px;
        height: 150px;
    }


/* |TABLES| */
	.tb-1 {
		width: 100%;
	}
	
	
/* |TEXT| */
	
	p {
		color: #8B8682;
		/*font-size: 20px;*/
		line-height: 130%;
	}
	
	ul.cont li {
		color: #8B8682;
		/*font-size: 20px;*/
		line-height: 130%;
		clear: both;
	}
	
	a.footer {
		color: #000000;
		text-decoration: none;
		font-size: 13px;
		line-height: 150%;
		clear: both;
		/*letter-spacing: .75;*/
	}
	
	p.footer {
		color: #000000;
		text-decoration: none;
		font-size: 13px;
		line-height: 150%;
		clear: both;
		/*letter-spacing: .75;*/
	}
	
    .headline{
        color: #00bfff;
        text-align: center;
    }
    
    .sub-headline{
        color: #000000;
        text-align: center;
    }
	
